<div class="row">
    <div class="col-xs-12">
        <img [src]="grocery.imagePath" alt="{{ grocery.name }}" class="image-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ grocery.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdownDirective>
            <button 
            type="button"
            class="btn btn-primary dropdown-toggle"
            >Manage Grocery<span class="caret"></span>
           </button>
           <ul class="dropdown-menu">
               <li><a href="#" (click)="onClickAddIng()">To Grocery List</a></li>
               <li><a href="#">Edit Grocery</a></li>
               <li><a href="#">Delete Grocery</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{grocery.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li  class="list-group-item" *ngFor="let ingrdient of grocery.ingredient">
                {{ingrdient.name}} - {{ingrdient.amount}}
            </li>
        </ul>
    </div>
</div>